* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(210, 64, 163);
    background: radial-gradient(circle, rgba(210, 64, 163, 1) 0%, rgba(125, 86, 186, 1) 59%, rgba(24, 111, 214, 1) 100%);
}

#title {
    font-family: 'Secular One', sans-serif;
    margin-bottom: 40px;
    font-size: 40px;
    color: #fff;
}

#container_secound {
    width: 700px;
    padding: 30px 50px;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 9px -11px 12px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px -11px 12px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 9px -11px 12px -2px rgba(0, 0, 0, 0.75);
}

#container_input {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    position: relative;
}

#container_input::before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2px solid #6666;
    margin-top: 70px;
    height: 30px;
    border-radius: 30px;
}

#container_inputtxt {
    outline: none;
    border: 1px olid black;
    width: 80%;
    height: 40px;
    padding: 5px;
    border-radius: 10px;

}

#container_btn {
    width: 20%;
    outline: none;
    border: 1px solid black;
    background-color: #e471b0;
    border-radius: 10px;
    margin-left: 5px;
    color: #fff;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#container_btn:hover {
    background-color: #e471b0;
}

#container_word {
    color: #e471b0;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#container_result {
    color: black;
    font-style: italic;
    margin-bottom: 10px;
}

span {
    font-size: 20px;
    color: #e471b0;
}